#header{
    width:100%;
    height:50px;
    background-color:rgb(18%,18%,18%);
}
button{
    font-size:17px;
    height:50px;
    background-color:rgb(18%,18%,18%);
    color:white;
    border:rgb(18%,18%,18%);
}
button:hover{
    border:white dashed 1px;
}
.gap{
    height:5vh;
}