.header{
    width:100%;
    height:52px;
}
img{
        display: block;
    width: 80px;
    height: 50px;
    background-size: 80px 23px;
    background-image: url("//qsf.is.quoracdn.net/-a09a476647674084.svg");
    background-repeat: no-repeat;
    background-position: center center;
}