.header{
    background-color: yellow;
    border-radius: 5px;
    width: 50%;;
    height:70px;
    text-align: center;
    margin:auto;
    left: 25%;
    font-size: 50px;
    position:fixed;
}


.gap{
    height:100px;
}
.sgap{
    height:25px;
}


.footer{
    background-color: yellow;
     border-radius: 5px;
     width:70%;
     height:70px;
     bottom:0px;
     left:15%;
     position:fixed;
    
}
table{
    margin:auto;
    margin-top:20px;
    margin-bottom: 20px;
}
th{
    border:2px black solid;
    margin: 10px;
    font-size: 20px;
    font-weight:normal;
    padding:10px;
}
tr{
    height:70px;
}

#left{
    float:left;
    font-weight:bold;
    font-size:25px;
    margin-left:70px;
}

#right{
    
    float:right;
    font-weight:bold;
    font-size:25px;
    margin-right:50px;
    
}


span{
    
    font-size: 30px;
    font-family: serif;
    margin-left: 20px;
    margin-top: 70px;
    font-weight: bold;
   
}
span:hover{
    font-size: 40px;
    text-decoration: bold;
    color: red;
  
}
li{
   
    font-size:25px;
    margin-bottom:10px;
    
}



ul{
    clear:both;
    position:relative;
    margin-left:70px;
    margin-right:30px;
    
    
}

.center{
    text-align:center;
}

div>a>img{
    height:66x;
    width:66px;
    margin-right: 50px;
    display:inline-block;
    margin-top:2px;
}

div>a>img:hover{
    border: dashed black 2px;
}


.fleft{
    float: left;
    margin-left: 50px;
}

.fright{
    float: right;
    margin-right:50px;
}


.button1{
    height: 100px;
    width:100px;
    border-radius:100%;
    border: 5px blue solid;
    margin-left:25%;
    background-color:#99ccff;
    float: left;
    text-align:center;
    line-height:100px;
    font-weight:bold;
    
}

.button2{
    height: 100px;
    width:100px;
    border-radius:100%;
    border: 5px solid red;
    margin-right:25%;
    background-color:pink;
    float: right;
    text-align:center;
    line-height:100px;
    font-weight:bold;
}

a{
    text-decoration:none;
}

a:hover{
    font-size:150%;
}
    

